* {
  box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

header {
	text-align: center;
	color: #673ab7;
}

main {
	display: flex;
	margin: 0 2em;
}

main > article {
	flex: 2 1 0;
}

main > aside {
	flex: 1 1 0;
	text-align: center;
}

.upload {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2.5rem;
}

label {
	cursor: pointer;
	text-align: center;
}

img {
	width: 250px;
	height: 250px;
}

p {
	text-align: center;
	margin-top: 1.25rem;
}

#inputImg:hover, #styleImg:hover {
	opacity: 0.5;
}

aside {
	margin: 2.5rem 0;
}

aside h5 {
	margin: 2.5rem 0;
}

aside div {
	margin: 5rem 0;
}

#transferBtn {
	color: #f44336;
	border: 1px solid #f44336;
	padding: 7px 16px;
	text-align: center;
	border-radius: 1px;
	cursor:pointer; 
}

#transferBtn:hover {
	background-color: #f44336; 
	color: white;
}

#scrollBox {
	display: flex;
	flex-wrap: wrap;
	background-color: #fafafa;
	border-radius: 5px;
	height: 400px;
	justify-content: center;
	overflow-y:auto;
}

#scrollBox img {
	width: 150px;
	height: 150px;
}

#scrollBox button:hover {
	opacity: 0.5;
}

#stylized-strength {
	width: 60%;
}
