:root {
	--white: #ffffffff;
	--mint: #3ab795ff;
	--tart-orange: #f44336ff;
	--cultured: #f1f1f1ff;
	--eerie-black: #191716ff;
	--white-space: 1.25rem;
}

* {
  box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

header {
	text-align: center;
	margin-bottom: calc(var(--white-space) * 2);
}

main {
	display: flex;
	margin: 0 calc(var(--white-space) * 2);
}

main > article {
	flex: 1 1 0;
	text-align: center;
}

img, canvas {
	width: 25rem;
	height: 25rem;
}

img:hover, canvas:hover {
	opacity: 0.5;
	cursor: pointer;
}

canvas {
	background-image: url('../img/result.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

aside {
	height: 20rem;
	overflow-y:auto;
}

aside img {
	height: auto;
	width: 10rem;
}

article:last-child > section > div {
	margin-top: calc(var(--white-space) * 3);
}

#transferBtn {
	margin-top: calc(var(--white-space) * 3) 0;
	color : var(--eerie-black);
	border: 1px solid var(--eerie-black); 
	padding: calc(var(--white-space)) calc(var(--white-space) * 2);
	text-align: center;
	border-radius: 1px;
	cursor:pointer; 
}

#transferBtn:hover, #transferBtn:active {
	background-color: var(--eerie-black);
	color: white;
}

input[type=range] {
	width: 50%;
}